# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
.env/
env/
ENV/

# Logs
*.log

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secret or local config files
price-parser-script-da966288cd5d.json
config.py
*.pem

# Playwright browsers (if you ever install them locally)
playwright/

# Python packaging
*.egg-info/
dist/
build/

# Local scripts
*.sh

#backup files
*.bak
*.backup